/* ROOT STYLING */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Madimi+One&display=swap");

:root {
  --bg-color: #ecf0ea;
  --bottom-bar-bg: #e0eadc;
  --light-text: #88967f;
  --dark-text: #40483a;
  --primary-blue: #65b2c2;
  --primary-yellow: #e1af39;
  --light-green: #a6bb65;
  --dark-green: #377440;
  --light-brown: #c1a16e;
  --dark-brown: #775a35;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-paragraph {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 415px;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg-color);
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  html {
    display: block;
  }

  body {
    max-width: 100%;
    width: 100%;
  }
}
